<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>User Registration Page</title>
</head>
<body>
<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4">
                                <h1>User Registration Page</h1>
                            </div>
                            <span class="mb-0 text-muted">
                                {% if msg %}
                                    {{ msg | safe }}
                                {% else %}
                                    Login page
                                {% endif %}
                            </span>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    {{ form.first_name }}
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    {{ form.last_name }}
                                </div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    {{ form.email}}
                                </div>
                                <div class="form-group">
                                    <label for="password1">Password</label>
                                    {{ form.password1 }}
                                </div>
                                <div class="form-group">
                                    <label for="password2">Confirm Password</label>
                                    {{ form.password2 }}
                                </div>

                                <!-- Document Verification Fields -->
                                <div class="form-group">
                                  
                                    <label for="aadhaar_card_image" >Aadhaar Card Image</label>
                                    <div  style="padding-top: 50px;">{{ form.aadhaar_card_image }}</div>
                                    
                                </div>
                                <div class="form-group">
                                  <label for="aadhaar_card_text" >Aadhaar Card Text</label>
                                  {{ form.aadhaar_card_text }}
                                </div>
                                
                                <div class="form-group">
                                    <label for="pan_card_image">PAN Card Image</label>
                                    <div style="padding-top: 50px;">{{ form.pan_card_image }}</div>
                                    
                                </div>
                                <div class="form-group">
                                  <label for="pan_card_text">PAN Card Text</label>
                                    {{ form.pan_card_text }}
                                </div>

                                <div class="form-group">
                                    <label for="proof_of_address_electricity_image">Address Proof Image</label>
                                    <div style="padding-top: 50px;">{{ form.proof_of_address_electricity_image }}</div>
                                </div>

                                <div class="form-group">
                                  <label for="proof_of_address_electricity_text">Address Proof Text</label>
                                  {{ form.proof_of_address_electricity_text }}
                                </div>

                                <div class="form-group">
                                    <label for="income_certificate_image">Income Certificate Image</label>
                                    <div style="padding-top: 50px;">{{ form.income_certificate_image }}</div>
                                </div>

                                <div class="form-group">
                                  <label for="income_certificate_text">Income Certificate Text</label>
                                    {{ form.income_certificate_text }}
                                </div>

                                <div class="form-group">
                                    <label for="bpl_ration_card_image">Ration Card Image</label>
                                    <div style="padding-top: 50px;">{{ form.bpl_ration_card_image }} </div>
                                    
                                </div>
                                <div class="form-group">
                                  <label for="bpl_ration_card_text" >Ration Card Text</label>
                                  {{ form.bpl_ration_card_text }}
                                </div>

                                <!-- Add more fields for other documents as needed -->

                                <span class="text-error">{{ form.errors }}</span>
                                <input type="submit" value="Register"
                                       class="btn btn-pill text-white btn-block btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
